.titulo {
  font-size: 25px;
  font-family: cursive;
  border: double black;
  background-color: red;
  margin: 10px;
  text-align: center; }

nav {
  margin: 10px;
  background-color: aqua; }

* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: blue; }

/* Carrusel del index */
.carrusel {
  background-color: double red;
  margin: 10px; }

/* Carrusel de Automaquillaje*/
.carruselRetrato {
  background-color: red;
  margin: 10px; }

/*
@media (min-width:800px) {
    .carousel-inner {
        width: auto;
        height: auto;
    }
}
*/
section {
  background-color: aquamarine;
  margin: 10px;
  padding: 5pt; }

article {
  background-color: bisque;
  margin: 20px; }

/* Tarjeta + Card "Index" */
.tarjeta {
  background-color: red;
  width: auto;
  margin: 10px;
  padding: 10pt; }

.card {
  margin-left: 20px; }

/*Automaquillaje*/
.fotosmaquillajesocial {
  text-align: center; }

.subtitle {
  font-family: cursive;
  text-align: center;
  margin: 10pt; }

/* Sobre Mi */
footer {
  background-color: red;
  border: double black;
  font-family: cursive;
  margin: 10px; }
