header {
  width: 100%;
  background-color: none; }

h1 {
  font-size: 35px;
  font-family: cursive;
  border: double black;
  background-color: none;
  margin: 10px;
  text-align: center; }

.container-fluid {
  width: 100%; }

nav {
  margin: 10px;
  border: double black;
  background-color: none; }

* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: none;
  margin: 2pt;
  padding: 2pt;
  border: double black;
  background-image: url(../img/fondo2.jpeg);
  background-size: 90% auto;
  background-position: center top;
  background-repeat: repeat-y; }

/*Contacto*/
/* Carrusel del index */
.carrusel {
  background-color: none;
  margin: 10px; }

/* Carrusel de Automaquillaje*/
.carruselRetrato {
  background-color: none;
  margin: 10px; }

/*
@media (min-width:800px) {
    .carousel-inner {
        width: auto;
        height: auto;
    }
}
*/
section {
  background-color: none;
  margin: 10px;
  padding: 5pt;
  border: double black; }

article {
  background-color: none;
  margin: 20px;
  padding: 5pt; }

/* Tarjeta + Card "Index" */
.tarjeta {
  background-color: none;
  width: auto;
  margin: 10px;
  padding: 10pt; }

.card {
  margin-left: 20px;
  border: double black; }

/*Maquillaje Social*/
h2 {
  text-align: center;
  font-family: cursive;
  text-align: center;
  margin: 5pt;
  border: double black; }

.artMaquillajeSocial {
  border: double black;
  text-align: center; }

/* Sobre Mi */
.retrato {
  text-align: center;
  border: double black; }

.informacion {
  height: auto;
  border: double black; }

h3 {
  margin-top: 40pt;
  padding: 10pt;
  font-family: cursive;
  text-align: center; }

/* Cursos */
h4 {
  text-align: center;
  font-family: cursive;
  font-size: medium; }

footer {
  background-color: none;
  border: double black;
  font-family: cursive;
  margin: 10px; }
