* {
    margin: 0%;
    padding: 0%;
}


body {
    background-color: white;
    margin: 2pt;
    padding: 2pt;
    border: double black;
    
}



/* Carrusel del index */
.carrusel {
    background-color: white;
    margin: 10px;
    
}

/* Carrusel de Automaquillaje*/

.carruselRetrato {
    background-color: white;
    margin: 10px;
    
}

/*
@media (min-width:800px) {
    .carousel-inner {
        width: auto;
        height: auto;
    }
}
*/

section {
    background-color: white;
    margin: 10px;
    padding: 5pt;
    border: double black;

}

article {
    background-color: white;
    margin: 20px;
    padding: 5pt;    
    }

/* Tarjeta + Card "Index" */

.tarjeta {
    background-color: white;
    width: auto;    
    margin: 10px;
    padding: 10pt;
    
}

.card {
    margin-left: 20px;
    border: double black;

}

/*Maquillaje Social*/

h2 {
    text-align: center;    
    font-family: cursive;
    text-align: center;
    margin: 5pt;
    border: double black;       
}

.artMaquillajeSocial {
    border: double black;
    text-align: center;
}


/* Sobre Mi */

.retrato {
    text-align: center;
    border: double black;
}

.informacion {
    height: auto;
    border: double black;
}

h3 {
    margin-top: 40pt;
    padding: 10pt;
    font-family: cursive;
    text-align: center;
    
}

/* Cursos */

h4 {
    text-align: justify;
    font-family: cursive;
    font-size: medium;
}
