.titulo {
    font-size: 25px;
    font-family: cursive;
    border: double black;
    background-color: red;
    margin: 10px;
    text-align: center;
}

header {
    width: 100%;    
}


.container-fluid {
    width: 100%;
}

