header {
    width: 100%; 
    background-color: none    
}

h1 {
    font-size: 35px;
    font-family: cursive;
    border: double black;
    background-color: none;
    margin: 10px;
    text-align: center;
}

.container-fluid {
    width: 100%;
}

